USE [PlateformFormation]
GO
/****** Object:  Table [dbo].[ComposerLaFormationDeModule]    Script Date: 11/03/2026 13:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComposerLaFormationDeModule](
	[idModuleDeFormation] [int] NOT NULL,
	[idFormation] [int] NOT NULL,
 CONSTRAINT [PK_ComposerLaFormationDeModule] PRIMARY KEY CLUSTERED 
(
	[idModuleDeFormation] ASC,
	[idFormation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evaluations]    Script Date: 11/03/2026 13:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evaluations](
	[idEvaluation] [int] IDENTITY(1,1) NOT NULL,
	[idUtilisateur] [int] NOT NULL,
	[idModuleDeFormation] [int] NOT NULL,
	[nomDeLEvaluation] [nvarchar](max) NOT NULL,
	[modaliteDeLEvaluation] [nvarchar](max) NOT NULL,
	[dateDeDebutDeLEvaluation] [datetimeoffset](7) NOT NULL,
	[dateDeFinDeLEvaluation] [datetimeoffset](7) NOT NULL,
	[resultatNote] [nvarchar](max) NULL,
	[resultatDate] [datetime2](7) NULL,
 CONSTRAINT [PK_Evaluations] PRIMARY KEY CLUSTERED 
(
	[idEvaluation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formations]    Script Date: 11/03/2026 13:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formations](
	[idFormation] [int] IDENTITY(1,1) NOT NULL,
	[nomFormation] [nvarchar](50) NOT NULL,
	[descriptionFormation] [nvarchar](max) NULL,
 CONSTRAINT [PK_Formations] PRIMARY KEY CLUSTERED 
(
	[idFormation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscriptions]    Script Date: 11/03/2026 13:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscriptions](
	[idUtilisateur] [int] NOT NULL,
	[idFormation] [int] NOT NULL,
	[dateDInscription] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Inscriptions] PRIMARY KEY CLUSTERED 
(
	[idUtilisateur] ASC,
	[idFormation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ModulesDeFormation]    Script Date: 11/03/2026 13:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModulesDeFormation](
	[idModuleDeFormation] [int] IDENTITY(1,1) NOT NULL,
	[nomModule] [nvarchar](max) NOT NULL,
	[descriptionModule] [nvarchar](max) NULL,
 CONSTRAINT [PK_ModulesDeFormation] PRIMARY KEY CLUSTERED 
(
	[idModuleDeFormation] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecommandationsgenereesparLIA]    Script Date: 11/03/2026 13:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecommandationsgenereesparLIA](
	[idRecommandationsGenereesParLIA] [int] IDENTITY(1,1) NOT NULL,
	[dateHeureRecommandation] [datetime2](7) NOT NULL,
	[idUtilisateur] [int] NOT NULL,
	[idFormation] [int] NOT NULL,
 CONSTRAINT [PK_RecommandationsgenereesparLIA] PRIMARY KEY CLUSTERED 
(
	[idRecommandationsGenereesParLIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionDeFormation]    Script Date: 11/03/2026 13:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionDeFormation](
	[idSession] [int] IDENTITY(1,1) NOT NULL,
	[idFormation] [int] NOT NULL,
	[dateDeDebut] [datetime2](7) NULL,
	[dateDeFin] [datetime2](7) NULL,
 CONSTRAINT [PK_SessionDeFormation] PRIMARY KEY CLUSTERED 
(
	[idSession] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 11/03/2026 13:55:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utilisateurs](
	[idUtilisateur] [int] IDENTITY(1,1) NOT NULL,
	[nomUtilisateur] [nvarchar](max) NOT NULL,
	[prenomUtilisateur] [nvarchar](max) NOT NULL,
	[INEUtilisateur] [nvarchar](30) NULL,
	[dateDeNaissance] [datetime2](7) NULL,
	[idSession] [int] NULL,
 CONSTRAINT [PK_Utilisateurs] PRIMARY KEY CLUSTERED 
(
	[idUtilisateur] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ComposerLaFormationDeModule]  WITH CHECK ADD  CONSTRAINT [FK_ComposerLaFormationDeModule_Formations] FOREIGN KEY([idFormation])
REFERENCES [dbo].[Formations] ([idFormation])
GO
ALTER TABLE [dbo].[ComposerLaFormationDeModule] CHECK CONSTRAINT [FK_ComposerLaFormationDeModule_Formations]
GO
ALTER TABLE [dbo].[ComposerLaFormationDeModule]  WITH CHECK ADD  CONSTRAINT [FK_ComposerLaFormationDeModule_ModulesDeFormation] FOREIGN KEY([idModuleDeFormation])
REFERENCES [dbo].[ModulesDeFormation] ([idModuleDeFormation])
GO
ALTER TABLE [dbo].[ComposerLaFormationDeModule] CHECK CONSTRAINT [FK_ComposerLaFormationDeModule_ModulesDeFormation]
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD  CONSTRAINT [FK_Evaluations_ModulesDeFormation] FOREIGN KEY([idModuleDeFormation])
REFERENCES [dbo].[ModulesDeFormation] ([idModuleDeFormation])
GO
ALTER TABLE [dbo].[Evaluations] CHECK CONSTRAINT [FK_Evaluations_ModulesDeFormation]
GO
ALTER TABLE [dbo].[Evaluations]  WITH CHECK ADD  CONSTRAINT [FK_Evaluations_Utilisateurs] FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[Utilisateurs] ([idUtilisateur])
GO
ALTER TABLE [dbo].[Evaluations] CHECK CONSTRAINT [FK_Evaluations_Utilisateurs]
GO
ALTER TABLE [dbo].[Inscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Inscriptions_Formations] FOREIGN KEY([idFormation])
REFERENCES [dbo].[Formations] ([idFormation])
GO
ALTER TABLE [dbo].[Inscriptions] CHECK CONSTRAINT [FK_Inscriptions_Formations]
GO
ALTER TABLE [dbo].[Inscriptions]  WITH CHECK ADD  CONSTRAINT [FK_Inscriptions_Utilisateurs] FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[Utilisateurs] ([idUtilisateur])
GO
ALTER TABLE [dbo].[Inscriptions] CHECK CONSTRAINT [FK_Inscriptions_Utilisateurs]
GO
ALTER TABLE [dbo].[RecommandationsgenereesparLIA]  WITH CHECK ADD  CONSTRAINT [FK_RecommandationsgenereesparLIA_Formations] FOREIGN KEY([idFormation])
REFERENCES [dbo].[Formations] ([idFormation])
GO
ALTER TABLE [dbo].[RecommandationsgenereesparLIA] CHECK CONSTRAINT [FK_RecommandationsgenereesparLIA_Formations]
GO
ALTER TABLE [dbo].[RecommandationsgenereesparLIA]  WITH CHECK ADD  CONSTRAINT [FK_RecommandationsgenereesparLIA_Utilisateurs] FOREIGN KEY([idUtilisateur])
REFERENCES [dbo].[Utilisateurs] ([idUtilisateur])
GO
ALTER TABLE [dbo].[RecommandationsgenereesparLIA] CHECK CONSTRAINT [FK_RecommandationsgenereesparLIA_Utilisateurs]
GO
ALTER TABLE [dbo].[SessionDeFormation]  WITH CHECK ADD  CONSTRAINT [FK_SessionDeFormation_Formations] FOREIGN KEY([idFormation])
REFERENCES [dbo].[Formations] ([idFormation])
GO
ALTER TABLE [dbo].[SessionDeFormation] CHECK CONSTRAINT [FK_SessionDeFormation_Formations]
GO
ALTER TABLE [dbo].[Utilisateurs]  WITH CHECK ADD  CONSTRAINT [FK_Utilisateurs_SessionDeFormation] FOREIGN KEY([idSession])
REFERENCES [dbo].[SessionDeFormation] ([idSession])
GO
ALTER TABLE [dbo].[Utilisateurs] CHECK CONSTRAINT [FK_Utilisateurs_SessionDeFormation]
GO
